.city_info {
  display: flex;
}
.city_weather_info {
  min-height: 60vh;
  max-width: 35%;
  min-width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  background-color: #2a324b;
  border-radius: 16px;
  box-shadow: 0px 0px 3px #0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-shadow: 0px 0px 1px #000000;
  font-size: 20px;
}

.header {
  margin-bottom: 20px;
}

