.search_container input {
  min-width: 30%;
  padding: 8px;
  border-radius: 3px;
  margin: 4px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 2px #000000;
}
.search_container button {
  min-width: 5%;
  padding: 8px;
  border-radius: 3px;
  margin: 4px;
  outline: none;
  border: none;
  color: #f0f8ff;
  background-color: #2a324b;
  box-shadow: 0px 0px 3px #ffffff;
}
